body{
    background-color: #232323;
    font-family: "Raleway", sans-serif;
    font-size:62.5%;
    margin:0;

}

#container {
    max-width: 600px;
    margin:0 auto;
    padding-top: 20px;

}
.square {
    width:30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background .5s;
    -webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
} 
h1{
    color: white;
    background-color: #2C8E99;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    margin:0;
    padding: 10px 0;
}

#color-display{
    display: block;
    font-size: 2em;
}
#stripe{
    background:white;
    height:30px;
    text-align: center;
    color:black;


}
#message{
    text-transform: uppercase;
    color:#2C8E99;
    font-size: 1.5rem;
    display: inline-block;
    width:20%
}
button:hover{
    background-color: #2C8E99;
    color:white;
}
.selected{
    background-color: #2C8E99;
    color:white;
}
.sqaure{
    border-radius:20%;



}
*{
    border: 0px solid red;
}